.new-wtlwp-form {
	border: 1px solid;
	padding: 10px;
	background-color: white;
	display: none;
}

.wtlwp-form-input {
	width: 300px !important;
}
.widefat .wtlwp-status {
	width: 40px;
}

.wtlwp-status-active {
	color: #008000 !important;
}

.wtlwp-status-expired {
	color: #FF0000 !important;
}

.wtlwp-status:after {
	border-radius: 32px;
	color: #fff;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 16px;
	line-height: 17px;
	margin-left: 8px;
	text-align: center;
	width: 16px;
}

.wtlwp-status-active:after {
	background: #008000 none repeat scroll 0 0;
	content: "";
}

.wtlwp-status-expired:after {
	background: #FF0000 none repeat scroll 0 0;
	content: "";
}

.cancel-new-login-form {
	cursor: pointer;
}

.wtlwp-wide-input {
	width: 60%;
}

.generated-wtlwp-login-link {
	border: 1px solid;
	padding: 10px 10px 10px 10px;
}

.wtlwp-form-row {
	padding-left: 20px !important;
}

.wtlwp-form-submit-button {
	width: 115px;
}

.wtlwp-user-login {
	font-size: 12px;
}

.wtlwp-copy-to-clipboard, .wtlwp-click-to-copy-btn {
	cursor: pointer;
}

.wtlwp-copy-to-clipboard:hover {
	color: #0073aa;
}

.copied-text-message {
	padding: 20px;
}
